<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="A simple web app to track a restaurant daily tasks" />
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
        <script src="https://kit.fontawesome.com/c18c39146b.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

        <!-- Google sign in-->
        <script src="https://accounts.google.com/gsi/client" async defer></script>

        <!-- Ethers.js-->
        <script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js" type="application/javascript"></script>

        <title>Carpez's Kitchen</title>
    </head>

    <body>
        <header>
            <nav class="brown darken-4">
                <div class="nav-wrapper">
                    <a href="{{ url_for('home') }}" class="brand-logo orange-text text-accent-4">Carpez's Kitchen</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                        <i class="fa-solid fa-bars orange-text text-accent-4"></i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <a class="orange-text text-accent-4" href="{{ url_for('home') }}">Home</a>
                        </li>
                        <li>
                            <a class="orange-text text-accent-4" href="{{ url_for('menu') }}">Menu</a>
                        </li>
                        <li>
                            <a class="orange-text text-accent-4" href="{{ url_for('seat') }}">Seat</a>
                        </li>
                        <li>
                            <a class="orange-text text-accent-4 modal-trigger" href="#login-modal">Login</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <ul class="sidenav brown darken-3" id="mobile-demo">
                <li>
                    <a href="{{ url_for('home') }}" class="orange-text text-accent-4">Home</a>
                </li>
                <li>
                    <a href="{{ url_for('menu') }}" class="orange-text text-accent-4">Menu</a>
                </li>
                <li>
                    <a href="{{ url_for('seat') }}" class="orange-text text-accent-4">Seat</a>
                </li>
                <li>
                    <a href="#login-modal" class="orange-text text-accent-4 modal-trigger">Login</a>
                </li>
            </ul>
        </header>
        <main class="orange lighten-3">
            {% block content %}
            {% endblock %}
        </main>
        <footer class="page-footer brown darken-4">
            <div class="container">
                {% block footer %}
                {% endblock %}
            </div>
            <div class="footer-copyright">
                <div class="container orange-text text-accent-4">
                    © 2014 Copyright Text
                    <a class="orange-text text-accent-4 right" href="#!">More Links</a>
                </div>
            </div>

            <!-- Login Modal -->
            <div id="login-modal" class="modal brown darken-3 orange-text text-accent-4">
                <div class="modal-content">
                    <h4 class="center-align">Login</h4>
                    <p class="center-align">Select method</p>
                    <div class="row">
                        <div class="col s5">
                            <img src="{{ url_for('static', filename='images/metamask.svg') }}" alt="Metamask sign in" id="metamask">
                            <p id="metamaskResponse" class="center-align"></p>
                        </div>

                        <!-- Google Sign in -->
                        <div class="col s5 push-s2">
                            <div id="g_id_onload"
                                data-client_id="{{ g_client_id }}"
                                data-context="signin"
                                data-ux_mode="popup"
                                data-callback="handleCredentialResponse"
                                data-auto_prompt="false">
                            </div>

                            <div class="g_id_signin"
                                data-type="icon"
                                data-shape="circle"
                                data-theme="outline"
                                data-text="continue_with"
                                data-size="large">
                            </div>
                            <p id="googleResponse" class="center-align"></p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer brown darken-3 orange-text text-accent-4">
                <a href="#!" class="modal-close waves-effect waves-white btn-flat orange-text text-accent-4">Cancel</a>
                </div>
            </div>

        </footer>
        <!-- Compiled and minified JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>

</html>